.text-center
  %h3 Importing Contacts
.jumbotron.text-center
  = form_tag import_contacts_path, multipart: true do
    .text-center
      = file_field_tag :file
    = submit_tag "Import", class: "btn btn-primary"

.text-center
  = link_to "Remove All #{@contacts.count}", remove_all_contacts_path, :method => :get , class: "btn btn-danger"