@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'print';
@import 'homes/index';
@import 'shares/media_helper';
#selector{
  li{
    list-style-type: none;
    border: 1px solid #000;
    vertical-align: middle;
    padding: 10px;
    width: 390px;
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
    color:rgb(242, 49, 148);
    text-transform: uppercase;
  }
}
  input[type="file"] {
    display: inline-block;
  }

