@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  nav{
    display: none;
  }
  .alert{
    display: none;
  }
  #selector{
    li{
      list-style-type: none;
      border: 1px solid rgb(242, 49, 148);
      vertical-align: middle;
      padding: 16px 12px;
      width: 405px;
      display: inline-block;
      margin-bottom: 5px;
      text-align: center;
      font-weight: bold;
      color:rgb(242, 49, 148);
      text-transform: capitalize;
    }
  }
}