!!!
%html
  %head
    %title ContactUpload
    = csrf_meta_tags
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = stylesheet_link_tag "print", media: 'print'

  %body{ id: "#{controller_name}_#{params[:action]}" }
    = render 'layouts/navigation'
    = render 'layouts/messages'
    = yield
